$backgroundColor: #ffffff;
$bodyColor: #000000;
$bodyFont: -apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";

body {
  background: $backgroundColor;
  color: $bodyColor;
  font-family: $bodyFont;
}

// this must be added for automatic scroll bar in mobile
.MathJax {
    padding:0.25em;
    overflow-x:auto;
    overflow-y: hidden;
}

// reduce the width of any images in the notes
.notes-img {
  width: 70%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.figure {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.backprop_1 {
  width: 30%;
}

.t_1, .gamma_1 {
  width: 40%;
}

.notes-figcaption {
    text-align: center;
}

.bg-probability {
    background-color: #437ee6;
}
